<div class="sidebar">
  <h2>Find:</h2>
  <ul>
    <li class="waldo">
      <figure><%= image_tag "characters.png" %></figure>
      <p>Waldo</p>
    </li>
    <li class="wenda">
      <figure><%= image_tag "characters.png" %></figure>
      <p>Wenda</p>
    </li>
    <li class="wizard">
      <figure><%= image_tag "characters.png" %></figure>
      <p>Wizard</p>
    </li>
    <li class="oddlaw">
      <figure><%= image_tag "characters.png" %></figure>
      <p>Oddlaw</p>
    </li>
  </ul>
</div>