// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sidebar {
  color: #fff;
  width: 25%;
  max-width: 300px;
  padding: 16px;
  height: 100%;
  background-color: #181818;
  border-right: 10px solid #eee;

  h2 {
    font-weight: 700;
    font-size: 2.25rem;
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
  }

  li {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;

    p {
      margin: 5px 5px 5px 15px;
    }
  }

  .found {
    opacity: 0.5;
    text-decoration: line-through;
  }

  .figure-wrapper {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #eee;
  }

  figure {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;

    img {
      height: 70px;
    }
  }
}

.image-container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.image {
  height: 100%;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 2100px;
    height: 1320px;
  }
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #000;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}
